<!DOCTYPE html>
<html>
    
    <head>
    </head>
<title> project </title>
<body>
<h2>ENTER YOUR DETAILS HERE</h2>
    <form action="" method="post">
        username:<input type="text" name="name" placeholder="enter your name here" required><br><br>
        passwod:<input type="password" name="password" placeholder="enter password" required><br><br>
        email:<input type="text" name="username" placeholder="enter email" required><br><br>
        <button type=submit"value="submit">SUBMIT</button>
    </form>
                                          </body>
                                          </html>
                                        
                                          
                                          